:ruby
  content_component = {
    name: 'AuthSignInPage',
    data: {
      submit_url: session_path(resource_name),
      users: User.all.map { |x|
        {
          email: x.email,
          name: x.member.name,
          password: '123456'
        }
      }
    }
  }

= react_component 'AppLayout', content_component: content_component