// 新增用户界面(CreateUserPage.coffee)
.user-new-page{
  .user-form{
    float: left;
    margin-bottom: 2rem;
    width: 800px;
    .form-input{
      width: 80%;
    }
    .form-button{
      margin-right: 2rem;
    }
    .form-textarea{
      width: 80%;
    }
  }
}

// 管理员功能导航页(AdminIndexPage.coffee)
.code-box-demo .ant-row {
  margin-left: -8px;
  margin-right: -8px;
}
.code-box-demo .ant-row > div {
  padding: 0 8px;
=======
.admin-tag-a{
  margin-bottom: 1rem;
  a{
    margin-right: 2rem;
  }
}

.admin-option-tag-a{
  a{
    margin-right: 0.5rem;
  }
}

.radio-event-style{
  width: 600px;
}

.in-radio-input{
  margin-right: 1rem;
  margin-bottom: 0.5rem;
>>>>>>> 47bc5f28207440b013f6027725dbcb960dd46249
}