// 新增用户界面(CreateUserPage.coffee)
.user-new-page{
  .user-form{
    float: left;
    margin-bottom: 2rem;
    width: 800px;
    .form-input{
      width: 80%;
    }
    .form-button{
      margin-right: 2rem;
    }
    .form-textarea{
      width: 80%;
    }
  }
}