.auth-sign-in-page {
  .auth-form {
    max-width: 240px;
    margin-bottom: 2rem;
  }

  .ant-form-item {
    margin-bottom: 0.5rem;
  }

  .sample-users-table {
    max-width: 360px;
    h3 {margin-bottom: 1rem;}
  }
}

// 新增用户界面(CreateUserPage.coffee)
.user-new-page{
  .user-form{
    float: left;
    margin-bottom: 2rem;
    width: 800px;
    .form-input{
      width: 80%;
    }
    .form-button{
      margin-right: 2rem;
    }
    .form-textarea{
      width: 80%;
    }
  }
}
