$online-color: #82C458;

@mixin avatar {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 8px; left: 8px;
  color: white;
  border-radius: 100%;
}

@mixin avatar_a {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: white;
  border-radius: 100%;
  float: left;
  font-size: 16px;
  top: 2px;
}

.chat-page {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-color: #fff;

  $side-w: 230px;
  $current-user-bar-w: 50px;

  .sidebar {
    background-color: #F5F7FA;
    position: absolute;
    top:0;bottom:0;left:0;width:$side-w;

    .header {
      height: 48px;
      line-height: 48px;
      background-color: #EBEFF5;
      padding:0 1rem;
      font-size: 16px;
    }

    .org-tree {
      padding: 10px 1rem;
      border-top: solid 1px #eee;
      .ant-tree {
        padding: 0;
        .member-node i {
          color: $online-color;
        }

        .ant-tree-node-selected {
          background-color: #5254A3;
          color: white;
          i {color: white !important;}
        }
      }
    }
  }

  .current-user-bar {
    position: absolute;
    top:0;bottom:0;right:0;width: $current-user-bar-w;
    background-color: #fff;
    border-left: solid 2px #FAFAFA;

    .avatar-first-char {
      @include avatar;
    }

    .sign-out-link {
      height:48px;line-height:48px;
      text-align: center;
      font-size: 16px;
      margin-top: 16px;
      display: block;
      color: #444;
      &:hover {
        background-color: #ffffdc;
      }
    }
  }

  .members-table {
    position: absolute;
    top:0;right:$current-user-bar-w;bottom:0;left:$side-w;

    .header {
      height: 48px;
      line-height: 48px;
      background-color: #FAFAFA;
      padding:0 20px;
      font-size: 16px;
    }
    .table-c {
      padding: 20px;
    }
  }

  .chat-room {
    position: absolute;
    top:0;right:$current-user-bar-w;bottom:0;left:$side-w;

    $ipt-h: 120px;
    $header-h: 48px;

    .header {
      height: $header-h;
      line-height: $header-h;
      background-color: #FAFAFA;
      padding:0 20px;
      position: relative;

      span.info {font-weight: bold; margin-right: 10px;}

      span.member-info i {color: $online-color; margin-right: 10px;}
      span.org-info i {margin-right: 10px;}

      .members {
        position: absolute;
        top: 0;right:20px;bottom:0;width: 48px;
        text-align: center;
      }
    }

    .chat-list {
      position: absolute;
      left:0;right:0;top:$header-h;
      bottom: $ipt-h;
      // background-color: rgba(#ffffdc, 0.5);
      background-color: #fff;
      padding: 20px;
      border-top: solid 1px rgba(black, 0.04);

      .channel-info {
        margin-bottom: 20px;
      }

      .chat-item {
        margin-top: 1rem;
        min-height: 48px;

        .avatar-first-char {
          @include avatar_a;
        }
        .m-content {
          margin-left: 48px;
          .talker .name {font-weight: bold;margin-right: 12px;}
          .talker .time {font-size: 13px; color:#ccc;}
          .text {
            line-height: 26px;
            word-break: break-all;
          }
        }
      }
    }

    .chat-inputer {
      position: absolute;
      left:0;right:0;bottom:0;
      height: $ipt-h;
      background-color: #FCFCFC;
      border-top: solid 1px #FAFAFA;

      textarea {
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        resize: none;
        border: 0 none;
        padding: 10px 20px;
        width: 100%;
        outline: none;
        background-color: transparent;
      }
    }
  }
}