.chat-page {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-color: #fff;

  $side-w: 230px;

  .sidebar {
    background-color: #F5F7FA;
    position: absolute;
    top:0;bottom:0;left:0;width:$side-w;

    .header {
      height: 48px;
      line-height: 48px;
      background-color: #EBEFF5;
      padding:0 20px;
      font-size: 16px;
    }

    .org-tree {
      padding: 10px 20px;
    }
  }

  .members-table {
    position: absolute;
    top:0;right:0;bottom:0;left:$side-w;

    .header {
      height: 48px;
      line-height: 48px;
      background-color: #FAFAFA;
      padding:0 20px;
      font-size: 16px;
    }
    .table-c {
      padding: 20px;
    }
  }
}