.member-new-page{
  .member-form{
    float: left;
    margin-bottom: 2rem;
    .form-input{
      width: 300px;
    }
    .form-button{
      margin-right: 2rem;
    }
  }
}

.member-edit-page{
  .member-form{
    float: left;
    margin-bottom: 2rem;
    .form-input{
      width: 300px;
    }
    .form-button{
      margin-right: 2rem;
    }
  }
}